@model IEnumerable<SistemaInventario.Models.RegistroUsuarios>

@{
    ViewBag.Title = "Regitro de Usuarios";
}

<h2>Registro de Usuarios</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", "RegistroUsuarios", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TiposUsuarios.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TiposUsuarios.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.UsuarioId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.UsuarioId }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.UsuarioId })
        </td>
    </tr>
}

</table>
