@model IEnumerable<SistemaInventario.Models.RegistroAlmacenes>

@{
    ViewBag.Title = "Registro de Almacen";
}

<h2>Registro de Almacen</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", "RegistroAlmacenes", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AlmacenId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.AlmacenId }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.AlmacenId })
        </td>
    </tr>
}

</table>
