@model SistemaInventario.Models.DetalleAlmacenSpares

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Esta seguro que desea borrar este Detalle?</h3>
<div>
    <h4>Detalle de Almacen Spares</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegistroAlmacen.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistroAlmacen.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistroSpares.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistroSpares.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tecnologia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tecnologia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-warning" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
