@model SistemaInventario.Models.RegistroSpares

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Esta seguro que desea borrar este Spare?</h3>
<div>
    <h4>Registro de Spares</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RegistroAlmacenes.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistroAlmacenes.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroParte)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroParte)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ubicacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-warning" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
