@model IEnumerable<SistemaInventario.Models.RegistroSpares>

@{
    ViewBag.Title = "Registro de Spare";
}

<h2>Registro de Spare</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create", "RegistroSpares", null, new { @class = "btn btn-primary btn-large" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistroAlmacenes.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroParte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistroAlmacenes.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroParte)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SerialNumero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ubicacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.SpareId }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.SpareId }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.SpareId })
        </td>
    </tr>
}

</table>
